<section class="companies">
    <div class="container">
        <div class="row">
            <div class="title">Past clients</div>
            <div class="subtitle">Trusted by your favourite companies</div>
            <div class="companies__items">
                <div class="companies__items_img wow animate__animated animate__lightSpeedInLeft">
                     <img src="img/companies-01.svg" alt="">
                    </div>
                    <div class="companies__items_img wow animate__animated animate__lightSpeedInLeft">
                        <img src="img/companies-02.svg" alt="">
                       </div>
                       <div class="companies__items_img wow animate__animated animate__fadeInUp">
                        <img src="img/companies-03.svg" alt="">
                       </div>
                       <div class="companies__items_img wow animate__animated animate__fadeInRight">
                        <img src="img/companies-04.svg" alt="">
                       </div>
                       <div class="companies__items_img wow animate__animated animate__fadeInRight">
                        <img src="img/companies-05.svg" alt="">
                       </div>
            </div>
        </div>
    </div>
</section>