<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="logo d-flex justify-content-center justify-content-sm-start">
                    <a href="/"><img src="img/logo.svg" alt="logo"></a>
                </div>
                <div class="footer__information"><p>Photographers & videographers capturing the world around us.</p></div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="footer__menu">
                   <div class="footer__menu_item">
                    <h5>Business areas</h5>
                    <ul>
                        <li class="wow animate__animated animate__lightSpeedInRight"><a href="">Product Photography</a></li>
                        <li class="wow animate__animated animate__lightSpeedInLeft"><a href="">Architecture Photography</a></li>
                        <li class="wow animate__animated animate__lightSpeedInRight"><a href="">Drone Photography</a></li>
                        <li class="wow animate__animated animate__lightSpeedInLeft"><a href="">Wildlife Photography</a></li>
                    </ul>
                   </div>
                   <div class="footer__menu_item">
                    <h5>Pages</h5>
                    <ul>
                        <li class="wow animate__animated animate__lightSpeedInRight"><a href="">Gear cage</a></li>
                        <li class="wow animate__animated animate__lightSpeedInLeft"><a href="">Featured images</a></li>
                        <li class="wow animate__animated animate__lightSpeedInRight"><a href="">Contact</a></li>
                        <li class="wow animate__animated animate__lightSpeedInLeft"><a href="">Style guide</a></li>
                        <li class="wow animate__animated animate__lightSpeedInRight"><a href="">Instructions</a></li>
                        <li class="wow animate__animated animate__lightSpeedInLeft"><a href="">Changelog</a></li>
                    </ul>
                   </div>
                </div>
            </div>
            <div class="line"></div>
            <div class="col-12 col-sm-6">
                <div class="footer__text wow animate__animated animate__bounceInLeft"><p>Subscribe to our newsletter</p></div>
                <div class="footer__subtext wow animate__animated animate__bounceInRight"><p>Read about all the things we do.</p></div>
            </div>
            <div class="col-6">
               
            </div>
            <div class="line"></div>
            <div class="col-12 col-sm-6 order-2 order-sm-1">
                <div class="footer__licensing">
                    <p>© Aperture Photography, Inc. All rights reserved. Licensing</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 order-1 order-sm-2">
                <div class="footer__icon">
                  <a class="wow animate__animated animate__shakeX" href=""><img src="img/footer-01.svg" alt=""></a>  
                  <a class="wow animate__animated animate__shakeX" href=""><img src="img/footer-02.svg" alt=""></a>
                  <a class="wow animate__animated animate__shakeX" href=""><img src="img/footer-03.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>