<header class="header">
    <div class="container ">
        <div class="row">
            <div class="header__body">
                <div class="logo">
                    <a href="/"><img src="img/logo.svg" alt="logo"></a>
                </div>
                <nav class="header__menu">
                    <ul>
                        <li><a href="">Business areas</a></li>
                        <li><a href="">Featured images</a></li>
                        <li><a href="">Gear cage</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                    <button class="header__menu_button">Get template</button>
                </nav>
                <div class="menu-collapsed">
                    <div class="bar"></div>
                    <nav>
                        <ul>
                            <li><a href="">Business areas</a></li>
                            <li><a href="">Featured images</a></li>
                            <li><a href="">Gear cage</a></li>
                            <li><a href="">Contact</a></li>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>