<section class="hero">
    <div class="container">
        <div class="row ">
            <div class="hero__item">
                <div class="hero__text wow animate__animated animate__fadeInUp">
                    <p>Photographer & Filmmaker</p>
                </div>
                <div class="hero__title wow animate__animated animate__fadeInUp">
                    <h1>Aperture Studios</h1>
                </div>
                <div class="hero__subtitle wow animate__animated animate__fadeInUp">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                        diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut
                        sem vitae risus tristique posuere.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="information">
        <div class="information__item">
            <img src="img/hero-01.svg" alt="">
            <p>1s</p>
        </div>
        <div class="information__item">
            <img src="img/hero-02.svg" alt="">
            <p>f/11</p>
        </div>
        <div class="information__item">
            <img src="img/hero-03.svg" alt="">
            <p>100</p>
        </div>
        <div class="information__item">
            <img src="img/hero-04.svg" alt="">
            <p>Iceland</p>
        </div>
    </div>
</section>