<section class="himalays">
        <div class="himalays__content">
        <div class="text">
            <p> Sunset at Mount Fuji</p>
        </div>
            <div class="subtext">
                <p> Duis tristique sed lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.</p>
            </div>
            <div class="information">
                <div class="information__item">
                    <img src="img/hero-01.svg" alt="">
                    <p>0.8</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-02.svg" alt="">
                    <p>f/5.6</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-03.svg" alt="">
                    <p>100</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-04.svg" alt="">
                    <p>Japan</p>
                </div>
            </div>
            </div>
</section>