<section class="monstera">
        <div class="monstera__content">
        <div class="text">
            <p> Monstera Leafs</p>
        </div>
            <div class="subtext">
                <p> Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt.</p>
            </div>
            <div class="information">
                <div class="information__item">
                    <img src="img/hero-01.svg" alt="">
                    <p>1/400s</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-02.svg" alt="">
                    <p>f/3,5</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-03.svg" alt="">
                    <p>100</p>
                </div>
                <div class="information__item">
                    <img src="img/hero-04.svg" alt="">
                    <p>Costa Rica</p>
                </div>
            </div>
            </div>
</section>