<section class="use">
    <div class="use__information">
        <div class="use__information_text wow animate__animated animate__flipInX">
            <p>
                The Gear cage
            </p>
        </div>
        <div class="use__information_title wow animate__animated animate__flipInX">
            <p>
                The tools that we use.
            </p>
        </div>
        <div class="use__information_subtitle wow animate__animated animate__flipInX">
            <p>
                The say that "no place is boring if you've had a good night's sleep and have a pocket full of unexposed
                film". While we don't shoot (a lot) of film these days — these are the tools that we actually use
                everyday to capture the amazing things around us.
            </p>
        </div>
        <button class="btn"><img src="img/works-btn.png" alt="">
            <p>Check it out</p>
        </button>
    </div>
    <div class="use__photo">
        <div class="information d-none d-md-flex">
            <div class="information__item">
                <img src="img/hero-01.svg" alt="">
                <p>0.8</p>
            </div>
            <div class="information__item">
                <img src="img/hero-02.svg" alt="">
                <p>f/5.6</p>
            </div>
            <div class="information__item">
                <img src="img/hero-03.svg" alt="">
                <p>100</p>
            </div>
            <div class="information__item">
                <img src="img/hero-04.svg" alt="">
                <p>Sweden</p>
            </div>
        </div>
    </div>
</section>