<section class="works">
    <div class="container">
        <div class="row">
            <h2 class="title">What we do.</h2>
            <p class="subtitle">The areas that we're specialized in.</p>
            <div class="works__information">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="item photo-one wow animate__animated animate__flipInX">
                            <div class="item__information">
                                <h5>Product Photography</h5>
                                <p>Cras commodo consequat orci, in convallis risus egestas non. Nulla efficitur auctor
                                    hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam. Cras commodo
                                    consequat orci, in convallis risus egestas non. Nulla efficitur auctor hendrerit.
                                    Etiam ut orci</p>
                                <button class="btn"><img src="img/works-btn.png" alt="">
                                    <p>Read more</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="item photo-two wow animate__animated animate__flipInX">
                            <div class="item__information">
                                <h5>Architecture Photography</h5>
                                <p>Aenean porta neque eget consequat fringilla. Vestibulum ultrices, orci nec egestas
                                    pharetra, ligula est semper enim, nec auctor sapien leo nec purus. Fusce tincidunt
                                    aliquet sapien, sit amet rhoncus leo imperdiet nec.</p>
                                <button class="btn"><img src="img/works-btn.png" alt="">
                                    <p>Read more</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="item photo-thre wow animate__animated animate__flipInX">
                            <div class="item__information">
                                <h5>Drone Photography</h5>
                                <p>Mauris euismod elit et nisi ultrices, ut faucibus orci tincidunt. Duis tristique sed
                                    lorem a vestibulum. Cras commodo consequat orci, in convallis risus egestas non.
                                    Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus
                                    quam.</p>
                                <button class="btn"><img src="img/works-btn.png" alt="">
                                    <p>Read more</p>
                                </button>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-sm-6">
                        <div class="item photo-four wow animate__animated animate__flipInX">
                            <div class="item__information">
                                <h5>Wildlife Photography</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam
                                    odio et faucibus. Nulla rhoncus feugiat eros quis consectetur. Morbi neque ex,
                                    condimentum dapibus congue et, vulputate ut ligula. Vestibulum sit amet urna turpis.
                                </p>
                                <button class="btn"><img src="img/works-btn.png" alt="">
                                    <p>Read more</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>