.himalays {
    height: 600px;
    background-image: url('../img/himalays.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    @media screen and (max-width:768px) {
       height: 400px;
      }
      @media screen and (max-width:568px) {
        align-items: center !important;
    }

    &__content {
        margin-right: 62px;
    @media screen and (max-width:568px) {
       margin: 0px;
    }
}
} 